@model IEnumerable<MyContacts.Models.Contact>

@{
    ViewBag.Title = "My Contacts";
}

<h2>My Contacts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name) </th>
        <th>@Html.DisplayNameFor(model => model.Email) </th>
        <th>@Html.DisplayNameFor(model => model.Address) </th>
        <th>@Html.DisplayNameFor(model => model.DollarsSpentInStore) </th>
        <th>@Html.DisplayNameFor(model => model.LoyaltyPoints) </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Name) </td>
        <td>@Html.DisplayFor(modelItem => item.Email) </td>
        <td>@Html.DisplayFor(modelItem => item.Address) </td>
        <td>@Html.DisplayFor(modelItem => item.DollarsSpentInStore) </td>
        <td>@Html.DisplayFor(modelItem => item.LoyaltyPoints) </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}
</table>